@import '../../../styles/variables.scss';

.category {
  width: 100%;
}
.name {
  padding: 2px 6px;
  text-transform: uppercase;
}

.row {
  display: flex;
  width: 100%;
}

.button-play {
  width: calc((100% / 8 ) - 2px );
  margin: 4px;
  height: 20px;
  border-radius: 10px;
  background-color: #484f5f;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  &.isPlaying {
    opacity: 1;
  }
}