.App {
  text-align: center;
}

.input-range__label--max {
  display: none;
}

.input-range__label--min {
  display: none;
}

.input-range__label {
  color: #646d83;
  opacity: 1;
}

.input-range__track--active {
  background: transparent;
}

.input-range__track {
  background: #3e4452;
  font-weight: bold;
}

.input-range__slider {
  background: #c41fc2;
  border: 1px solid #c41fc2;
  border-radius: 100%;
}

.app-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.row {
  display: flex;
}

.button-play {
  width: 38px;
  height: 38px;
  margin: 2px;
  border-radius: 4px;
  background-color: #3e4452;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  &.isPlaying {
    opacity: 1;
  }
}
